/* window border */

:root[sizemode="normal"] #zen-browser-background {
  border: none !important;
  border-radius: var(--mac-border-radius, 8px) !important;
}

:root[sizemode="maximized"] #zen-browser-background {
  border: none !important;
}

:root[sizemode="fullscreen"][inDOMFullscreen="true"] #tabbrowser-tabpanels {
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  margin: 0 !important;
  overflow: hidden !important;
}

@media (-moz-pref("mac-max.roundcorners")){
  :root[sizemode="maximized"] #zen-browser-background{
    border-top-left-radius: var(--mac-border-radius, 8px) !important;
    border-top-right-radius: var(--mac-border-radius, 8px) !important;
  }
}

/* webview border */

#tabbrowser-tabbox {
  border: none !important;
  box-shadow: none !important;
  overflow: visible !important;
}

#tabbrowser-tabpanels {
  border: 2px solid currentColor !important;
  border-radius: var(--zen-border-radius) !important;
  box-shadow: var(--mac-shadow-soft) var(--mac-shadow-soft) 0 currentColor !important;
  overflow: hidden !important;
  margin-right: 3px !important;
  margin-bottom: 3px !important;
}

.browserSidebarContainer{
  border-radius: var(--zen-border-radius) !important;
  overflow: visible !important;
}


#tabbrowser-tabpanels {
  transition: transform 0.12s ease !important;
}

/* CONTEXT MENU */
menupopup{
  border: 2px solid currentColor !important;
  border-radius: var(--mac-border-radius, 8px) !important;
  background: var(--zen-primary-color) !important;
}

menuseparator {
  border-top: 2px solid currentColor !important;
}

/* -------------------------- */
/* BLANK TAB CHECKERBOARD */
/* -------------------------- */

@media (-moz-pref("mac.blank.checkboard")) {
    #browser:has([zen-empty-tab="true"][selected="true"]) .browserStack {
    
      background-image:
        linear-gradient(
          45deg,
          rgba(255,255,255,var(--mac-checkboard-opacity, 0.35)) 25%,
          transparent 25%,
          transparent 75%,
          rgba(255,255,255,var(--mac-checkboard-opacity, 0.35)) 75%
        ),
        linear-gradient(
          45deg,
          rgba(255,255,255,var(--mac-checkboard-opacity, 0.35)) 25%,
          transparent 25%,
          transparent 75%,
          rgba(255,255,255,var(--mac-checkboard-opacity, 0.35)) 75%
        ) !important;
    
      background-size: 80px 80px !important;
      background-position: 0 0, 40px 40px !important;
    } 
}